h1{
    color: red;
    font-size: 50px;
}
h2{
    color: blue;
    font-size: 30px;
}

    
    .red {color: red; }

    .blue {color: blue; }
 
   
    
    #para1 {
    text-align: left;
    }
    
    #para2 {
    text-align: Right;
    }